    <nav>
        <img src="./assets/images/tnsmpea.png" style="width: 140px; height: 110px; padding-right: 20px;" alt="Logo" />
        <p style="font-family: 'Times New Roman', Times, serif; font-weight: bolder; padding-left: 15px; font-size: 30px; color: rgb(2, 0, 99);">
          TAMIL NADU STATE MARKETING PERMANENT EMPLOYEES ASSOCIATION
        </p>
        <form action="">
          <input type="checkbox" id="bar" title="menuBar" />
          <div class="menu">
            <label for="bar" class="menu-icon">
              <i class="pe-7s-menu pe-2x pe-va"></i>
            </label>
            <ul class="links">
              <li><a routerLink="/home">Home</a></li>
              <li>
                <a href="#about" class="dropdown-toggle">About <span class="arrow"></span></a>
                <ul class="sub-links">
                  <li><a routerLink="/statemembers">State Body Members</a></li>
                  <br>
                  <li><a routerLink="/districtmembers">District Executive </a></li>
                </ul>
              </li>
              <li><a href="#regions">Regions</a></li>
              <li><a href="#district">District</a></li>
              <li><a href="#depots">Depots</a></li>
              <li><a href="#news">News</a></li>
              <li><a routerLink="/payment">Payment</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </form>
      </nav>
