@import 'swiper/swiper-bundle.css';

.links {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.links > li {
    position: relative; 
    display: inline-block; 
    padding: 10px;
}

.sub-links {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.links > li:hover .sub-links {
    display: block; 
}

.sub-links li {
    display: block; 
}

.sub-links a {
    padding: 10px 20px; 
    display: block; 
    color: #000; 
    text-decoration: none; 
}

.sub-links a:hover {
    background-color: #f0f0f0; 
}

/* Arrow styles */
.arrow {
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-left: 5px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    transition: transform 0.2s; 
}

/* Optional: Rotate arrow on hover for effect */
.dropdown-toggle:hover .arrow {
    transform: translateY(-2px); 
}


.notification-bar {
    background-color: #a9a7a5;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scrolling-text {
    display: inline-flex;
    animation: scroll-left 15s linear infinite;
}

.notification-item {
    padding: 0 30px; /* Space between notifications */
}

/* Keyframes for scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#regions {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .swiper-container {
    width: 100%;
    height: 400px; /* Adjust height as needed */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .image:hover img {
    transform: scale(1.05);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image:hover .overlay {
    opacity: 1;
  }
  