@import 'swiper/swiper-bundle.css';

.links {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.links > li {
    position: relative; 
    display: inline-block; 
    padding: 10px;
}

.sub-links {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.links > li:hover .sub-links {
    display: block; 
}

.sub-links li {
    display: block; 
}

.sub-links a {
    padding: 10px 20px; 
    display: block; 
    color: #000; 
    text-decoration: none; 
}

.sub-links a:hover {
    background-color: #f0f0f0; 
}

/* Arrow styles */
.arrow {
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-left: 5px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    transition: transform 0.2s; 
}

/* Optional: Rotate arrow on hover for effect */
.dropdown-toggle:hover .arrow {
    transform: translateY(-2px); 
}


.notification-bar {
    background-color: #a9a7a5;
    color: white;
    font-weight: bold;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scrolling-text {
    display: inline-flex;
    animation: scroll-left 15s linear infinite;
}

.notification-item {
    padding: 0 30px; /* Space between notifications */
}

/* Keyframes for scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* home.component.css */
.gallery-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.gallery-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    will-change: transform;
}

.gallery-item {
    text-align: center;
    width: 250px;
    margin: 0 10px;
    flex-shrink: 0;
}

.gallery-item img {
    width: 100%;
    height: auto;  /* Keeps the image aspect ratio intact */
    border-radius: 10px;
}

.gallery-item h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #191919;
    font-weight: 600;
    margin: 10px 0;
}

.gallery-item p {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
