<body>
  <!-- Start Header -->
   <header>
  <app-navbar></app-navbar>
</header>
 

</body>

<router-outlet></router-outlet>

  <!-- Start Footer -->

<footer>
  <div class="container">
    <div class="title">
      <p>
        &copy; 2024 TNSMPEA. All rights reserved. Designed by
        TNSMPEA.
      </p>
    </div>
    <div class="linkPags">
      <div id="contact">
        <p class="mail">hellodtnsmpea.com</p>
        <p class="numPh">+44 987 065 908</p>
      </div>
      <ul id="pags">
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">gallerry</a></li>
        <li><a href="#">Carreer</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Legals</a></li>
      </ul>
      <ul id="soc-media">
        <li>
          <a rel="noopener" href="https://www.facebook.com" target="_blank">Facebook</a>
        </li>
        <li>
          <a rel="noopener" href="https://www.twitter.com" target="_blank">Twitter</a>
        </li>
        <li>
          <a rel="noopener" href="https://www.instagram" target="_blank">Instagram</a>
        </li>
        <li>
          <a rel="noopener" href="https://www.dribbble.com" target="_blank">Dribbble</a>
        </li>
      </ul>
    </div>
  </div>
</footer>